/target
/lib
/classes
/checkouts
/external
/sandbox
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
*.pdf
*.so
*.a
*.aux
*.log
*.png
*sublime*
*.nrepl-port
*.eps
*.ipynb_checkpoints*
*.smt2
*.svg
*.out
*.tags
.tags_sorted_by_file